* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    margin: none;
    width: 100%;
}

.background-landing {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    display: cover;
}

hr {
    height: 10px;
    background-color: rgb(40, 40, 40);
    border: none;
}

